* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background-color: var(--bg_color);
}
:root {
  --color: black;
  --bg_color: white;
  --shadow: rgb(81, 59, 59);
}
.line {
  text-align: center;
  width: 1px solid var(--color);
}
/* ------header section------- */
.header {
  display: block;
  color: var(--color);
}
/* Start header top */
.header-top {
  padding: 5px 0;
  border-bottom: 1px solid var(--color);
}

.header-top .container .contact-nav {
  display: flex;
  justify-content: space-between;
}

.header-top .container .contact-nav a {
  text-decoration: none;
  margin: 0 10px;
  color: var(--color);
  display: flex;
  align-items: center;
}

.header-top .container .contact-nav a span {
  margin-left: 5px;
}
.header-top .container .contact-nav a {
  color: var(--color);
}


/* End header top */

/* Start header bottom */
.header-bottom {
  padding: 15px 0;
  border-bottom: 1px solid var(--color);
}
.header-bottom, .header-bottom .container, .header-bottom .container .nav-bar, .site-name,.menu-toggle, .nav-list,.nav-list a,.nav-item{
  background-color: var(--bg_color);
}
.header-top, .header-top .container, .contact-nav, .contact-nav a,.contact-nav a span, .contact-nav a i, .social-box, .social-box a,
.social-box a span, .social-box a i{
  background-color: var(--bg_color);
}
.header-bottom .container {
  
  padding: 0 15px;
}

.header-bottom .container .nav-bar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.header-bottom .container .nav-bar .menu-bar,
.menu-toggle {
  display: none;
}
.header-bottom .container .nav-bar .site-name {
  font-weight: bold;
  font-size: 1.5em;
}

.header-bottom .container .nav-bar .list-section .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 30px;
}
.header-bottom .container .nav-bar .list-section .nav-list a{
  text-decoration: none;
}
.header-bottom .container .nav-bar .list-section .nav-item {
  margin: 0 10px;
  cursor: pointer;
}
/* End header bottom */

/* Responsive styling */
@media (max-width: 991px) {
  .header-top .container {
    display: grid;
    grid-template-columns: 3fr;
    align-items: center;
  }
  .header-top .container .social-box {
    display: none;
  }
  .list-section {
    display: none;
  }

  .menu-toggle:checked ~ .list-section {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
  }

  .menu-toggle:checked ~ .list-section .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .menu-toggle:checked ~ .list-section .nav-list .nav-item {
    margin: 5px 0;
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
  }

  .header-bottom .container .nav-bar .list-section .nav-item {
    margin: 5px 0;
    text-align: right;
  }
  .header .header-bottom {
    z-index: 999;
  }
  .header-bottom .container .nav-bar {
    grid-template-columns: 1fr auto;
  }

  .header-bottom .container .nav-bar .menu-bar {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    text-align: right;
  }

  .header-bottom .container .nav-bar .list-section .nav-item {
    margin: 5px 0;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .header-top .container {
    grid-template-columns: 1fr;
  }
  .header-top .container .contact-nav span {
    display: none;
  }
  .header-top .container .contact-nav {
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .header-top .container .social-box {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header-top .container .contact-nav a {
    margin: 5px 0;
    text-align: center;
  }

  .header-top .container .social-box a {
    font-size: 1em;
  }
}
/* -----End header section-----*/

/* ----Start Theme change---- */
body.dark-theme {
  --color: white;
  --bg_color: black;
  --shadow: rgba(255, 255, 255, 0.5);
}
.theme-toggle {
  display: none;
}
#sun-icon,
#moon-icon {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
}
#sun-icon,
#moon-icon {
  display: none;
}
body.bright-theme #sun-icon {
  display: inline-block;
}

body.dark-theme #moon-icon {
  display: inline-block;
}
/*----End Theme Change----*/

/* ----Preloader Start---- */
#preloader
{
  background: rgb(18, 17, 16) url("../images/loader.gif") no-repeat center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-size: 15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* ----Preloader End---- */

/* -----Home section----- */
.home {
  position: relative;
  padding: 30px 0;
  height: 90%;
}

.home .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.home .container .row .detail-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1.5rem;
}
.home .container .detail-box .social-box {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.home .container .detail-box .social-box a {
  text-decoration: none;
  font-size: 1em;
}
.home .container .detail-box .social-box a:hover{
  transform: translateY(-3px);
}
#grid1:hover{
  transform: translate(5px);
}
#grid2:hover{
  transform: translate(-5px);
}
.home .container .row .detail-box a {
  max-width: 150px;
}
.home .container .row .detail-box p{
  font-size: 20px;
}
.home .container .row .img-box {
  flex: 1;
  max-width: 350px;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid var(--color);
  border-radius: 50%;
  background-size:contain;
}
.home .container .row .img-box:hover{
  border-color: blue;
  box-shadow: rgb(99, 99, 205);
}
.home .container .row .img-box img {
  max-width: 350px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 100%;
}
#resume{
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .home .container {
    max-width: 1170px;
  }
}

@media (max-width: 768px) {
  .home .container .row {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .home .container .row .detail-box {
    justify-content: center;
    align-items: center;
  }
  .home .container .row .detail-box p{
    text-align: center;
  }
  .home .container .row .img-box {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
  }

  .home .container .row .detail-box {
    margin-bottom: 20px;
  }
}
/* -----End Home----- */

/* -----Start Education Section----- */
.education {
  margin-top: 100px;
  padding: 100px 20px;
  align-items: center;
}

.education .divider {
  width: 90%;
  border-top: 2px solid var(--color);
  margin: 0 auto 50px;

}

.education .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}

.education .container .heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.education .container .heading i {
  margin-left: 10px;
  font-size: 1.5em;
}

.education .container .edu-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.education .container .edu-details div {
  padding: 30px 30px;
  border: 2px solid var(--color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  font-weight: 500;
  min-width: 200px;
  max-width: 350px; /* Adjust for responsiveness */
}
.education .container .edu-details div i {
  font-size: 50px;
}
.education .container .edu-details .education1:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgb(200, 100, 100), 0 8px 12px red;
}
.education .container .edu-details .education2:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgb(200, 100, 100), 0 8px 12px red;
}
.education .container .edu-details .education3:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgb(200, 100, 100), 0 8px 12px red;
}

/* Responsive Adjustments */
@media (min-width: 1200px) {
  .education .container {
    max-width: 1170px;
  }
}
@media (max-width: 768px) {
  .education {
    padding: 80px 10px; /* Reduce padding for smaller screens */
  }

  .education .container .heading {
    font-size: 1.5em; /* Smaller font size for headings */
  }

  .education .container .edu-details div {
    font-size: 1em; /* Adjust font size for better readability */
  }
}

@media (max-width: 576px) {
  .education .container .edu-details div {
    min-width: 150px; /* Reduce card size for very small screens */
  }
}
/* -----End Education Section----- */

/* -----Start Skills Section----- */
.skills {
  height: auto; /* Adjust height for responsiveness */
  padding: 100px 20px;
}

.skills .divider {
  width: 90%;
  border-top: 2px solid var(--color);
  margin: 0 auto 50px;
}

.skills .container .heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.skills .container {
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.skills .container .row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
}

.skills .container .row div {
  border: 2px solid var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 10px 15px var(--shadow), 0 4px 6px var(--shadow);
  font-size: 1.2em;
  font-weight: 500;
  width: 155px;
  height: 155px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(145deg, #ffffff, white);
}

.skills .container .row div:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px var(--color), 0 8px 12px var(--color);
}
.skills .container .row div span {
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(145deg, #ffffff, white);
  color: black;
}

@media (max-width: 768px) {
  .skills {
    padding: 50px 10px;
  }

  .skills .container .row {
    gap: 20px;
    padding: 20px;
  }

  .skills .container .row div {
    width: 125px;
    height: 125px;
    font-size: 1em;
  }
  .skills .container .row div span {
    font-size: 12px;
  }

  .skills .container .heading {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .skills .container .row div {
    width: 107px;
    height: 107px;
    font-size: 0.9em;
  }
  .skills .container .heading {
    font-size: 1.2em;
  }
}
/* -----End Skills Section----- */

/* -----Start Project Section----- */

.projects .divider {
  width: 90%;
  border-top: 2px solid var(--color);
  margin: 0 auto 50px;
}
.projects .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.projects .container .arrow{
  display: flex;
}
.projects .container .row .proj-img{
  margin-top: 10px;
}
.projects .container .arrow img {
  width: 45px;
  height: auto; 
}
.projects .container .arrow .left_arrow{
  transform: rotate(180deg);
}
.prjects .left_arrow, .projects .right_arrow{
  cursor: pointer;
}
.projects .container .row {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
}
.projects .container .heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.projects .container .row .proj-element {
  border: 1px solid var(--color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 500;
  width: 400px;
  min-height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* background: linear-gradient(145deg, #ffffff,aqua); */
}
.projects .container .row .proj-element .proj-img{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.projects .container .row .proj-element:hover{
box-shadow: 0 15px 25px rgb(95, 173, 199), 0 8px 12px rgb(25, 145, 172);
}
.responsive-img {
  max-width: 100%; 
  height: auto; 
  border-radius: 5px; 
}
.projects .container .row .proj-element h3 {
  text-align: center;
}
.projects .container .row .proj-element span {
  font-size: 14px;
}
.projects .container .row .proj-element i{
  color: rgb(224, 199, 62);
}
.projects .container .row .proj-element .btn-class {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
@media (max-width:375px) {
  .projects .container .row .proj-element {
  border: 1px solid var(--color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 500;
  width: 300px;
  min-height: 200px;
  /* background: linear-gradient(145deg, #ffffff,aqua); */
}
}
/* -----End Project Section----- */

/* -----Start Contact Section----- */
.contact .divider {
  width: 90%;
  border-top: 2px solid var(--color);
  margin: 0 auto 50px;
}

.contact .container {
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.contact .container .heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.contact .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 15px;
}

.contact .contact-details {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  padding: 50px 40px; /* Ensures equal height for both sections */
}

.contact .contact-details input,
.contact .contact-details textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact .contact-details button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact .contact-details button:hover {
  background-color: darkblue;
}
.contact .container .row .my-contact {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color);
  /* background: linear-gradient(145deg, black,violet); */
  gap: 20px;
  font-size: 17.5px;
  max-width: 350px;
  padding: 30px 20px; /* Reduced padding to make it less cramped */
  border-radius: 15px;
}
/* .contact .container .row .my-contact span, .contact .container .row .my-contact i{
  background: linear-gradient(145deg, black,violet);
  color: white;
} */

@media (max-width: 320px) {
  .contact .my-contact span {
    font-size: 15px;
  }
}
/* -----End Contact Section----- */

/* -----Start Footer Section----- */
footer {
  width: 100%;
  background: rgb(5, 5, 72);
  border-top: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container {
  width: 90%;
  align-items: center;
  padding: 10px;
  background: rgb(5, 5, 72);
}

footer .container .row {
  padding: 20px 30px;
  background: rgb(5, 5, 72);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container .row .element1,
footer .container .row .element2,
footer .container .row .element3 {
  background: rgb(5, 5, 72);
  border-radius: 5px;
  padding: 10px 5px;
  min-width: 200px;
  max-width: 250px;
  
}

footer .container .row h4,
footer .container .row li,
footer .container .row li a,
footer .container .row li i,
footer .container .row p,
footer .container .row ul,
footer .copyright {
  background: rgb(5, 5, 72);
  color: white;
}

footer .container .row .element1,
footer .container .row .element2 {
  display: flex;
  flex-direction: column;
}

footer .container .row .element2 .useful-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
footer .container .row .element2 .useful-links ul li a img{
  border-radius: 10px;
}

footer .container .row .element2 .useful-links a:hover {
  color: lightblue;
}

footer .container .row .element3 .social-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

footer .container .row .element3 h4 {
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  footer .container .row {
    flex-direction: column;
    align-items: center;
  }

  footer .container .row .element1,
  footer .container .row .element2,
  footer .container .row .element3 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* Copyright Section */
footer .copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: lightgray;
}
/* -----End Footer Section----- */
